# MongoDB Environment Variables

# Set the MongoDB root username (change 'admin' to a more secure username)
MONGO_INITDB_ROOT_USERNAME=

# Set the MongoDB root password (use a strong, unique password for production)
MONGO_INITDB_ROOT_PASSWORD=

# Set the MongoDB database to be used by your application (this creates a database if it doesn't already exist)
MONGO_INITDB_DATABASE=